body{
    background-color: lightcyan;
    font-family: Helvetica, sans-serif;
}

h1{
    font-size: 40px;
}

.recipe{
    font-size: 20px;
    text-decoration: none;
}

ul li{
    width:300px;
    margin-top: 25px;
    border: 2px solid limegreen;
    color: greenyellow;
}

a{
    color: rgb(0, 56, 0);
}
